body {
    font-family: Arial, sans-serif;
  }
 .container {
    margin-top: 15px;
    
  }

  .text-white{
    color: #ffffff;
    margin: 10%;
  }

  .jumbotron {
    background-color: #17b0b8 !important;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }

  .icu-timeline {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }

  .icu-timeline h3 {
    color: #f9a91f;
    font-size: 24px;
  }

  .icu-timeline p {
    color: #495057;
    font-size: 16px;
  }
