body {
    font-family: Arial,  sans-serif;
  }
.container {
    margin-top: 5px;
  }
  .mt-5{
    margin-top: 1rem !important;
  }
  .text-white{
    color: #ffffff;
    margin: 10%;
  }

  .jumbotron {
    background-color: #17b0b8 !important;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }

  .h3, h3{
    font-size: 1.50rem;
    
  }
