/* Custom styles */
body {
    font-family: Arial, sans-serif;
  }

  .container {
    margin-top: 5px;
    margin-bottom: 2%;
    margin-left: 200px;

  }
  
  .text-white{
    color: #ffffff;
    margin: 10%;
  }

  .jumbotron {
    background-color: #ffffff !important;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
  }
  
  .card {
    margin-bottom: 20px;
    background-color: #3b528b;
    border: 1px solid #dcdcdc;
  }
  
  .card-title {
    color: #ffffff;
  }

  .card-link:hover .card {
    box-shadow: 0 0 15px rgba(0,0,0,0.3); /* Add shadow on hover */
  }
  

  .card-text{
    color: #ffffff;
  }


  .carousel-control-prev, .carousel-control-next {
    width: 5%;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}
  .h3, h3{
    font-size: 1.50rem;
    
  }

